{{#if users}}
{{#each users}}
<div class="chat-user">
  <div class="user user2">
    <a href="">
      <img class="chat-users-small" src="{{this.path}}" alt="{{this.username}}">
    </a>
    <a class="username" href="" _id={{this._id}} _username={{this.username}}>
      {{this.firstName}} {{this.lastName}}
    </a>
  </div>

  {{!-- dropdown add friends or remove buttons --}}
  <div class="btn-group1" role="group">
    <button id="btnGroupDrop1" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <button class="dropdown-item add-friend" href="#" user_id={{this._id}}>Add to friends</button>
    </div>
  </div>

</div>
{{/each}}
{{else}}
<h2>You have no friends!(</h2>
{{/if }}
<input id="search-user2" class="form-control search-user" type="text" placeholder="Search...">