{{#if users}}
{{#each users}}
<div class="chat-user">
  <div class="user">
    <a href="">
      <img class="chat-users-small" src="{{this.path}}" alt="{{this.username}}">
    </a>
    <a class="username" href="" _email="{{this.email}}" _id={{this._id}} _username={{this.username}}>
      {{this.firstName}} {{this.lastName}}
    </a>
  </div>

  {{!-- dropdown add friends or remove buttons --}}
  <div class="btn-group1" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">

      <a class="dropdown-item" href="#">
        <form action="/profile/add-new-friend?friends_id={{this._id}}" method="post">
          <button class="btn btn-success">Add friend</button>
        </form>
      </a>

      <a class="dropdown-item" href="#">
        <form action="/profile/remove-friend?friends_id={{this._id}}" method="post">
          <button class="btn btn-primary">Remove</button>
        </form>
      </a>
    </div>
  </div>

</div>
{{/each}}
{{else}}
<h2>You have no friends!(</h2>
{{/if }}