<div id="main-profile">
    <div class="left-div profile-boxes">
        <h5>Welcome, {{user.firstName}}! </h5>

        <img class="user-image" src="{{user.path}}" alt="{{user.imageName}}">
        <a class="btn btn-secondary mb-0 mt-2" href="/profile/photo-upload">Upload Photo</a>
        <a class="btn btn-secondary mb-0 mt-2" href="/profile/update">Update Profile</a>

    </div>
    <div class="center-div profile-boxes">

        {{#if posts}}
        <h2>Great Posts!</h2>
        <div class="column-items">
            {{#each posts}}
            {{!-- this div column-reversed from style.css --}}
            <div class="profile-user-box">
                {{!-- <span>{{this.picName}}</span> --}}
                <a href="/post-details?post_id={{this._id}}">
                    <img class="profile-post-image" src="{{this.picPath}}" alt="{{this.picName}}">
                </a>
            </div>

            <div class="author-info">

                <a href="/profile-details?user_id={{this.userId}}">
                    <img class="users-small" src="{{this.path}}" alt="{{this.username}}">
                </a>
                <a href="/profile-details?user_id={{this.userId}}"> {{this.firstName}} {{this.lastName}}</a>
            </div>
            {{/each}}
        </div>
        {{else}}
        <h2>Post Something!</h2>
        {{/if }}
    </div>
    <div class="right-div profile-boxes">
        <h5 class="text-center">Other Users</h5>
        {{#if users}}
        <div class="row-items">
            {{#each users}}
            <div class="author-info">
                <a href="/profile-details?user_id={{this._id}}">
                    <img class="users-small" src="{{this.path}}" alt="{{this.username}}">
                </a>
                <a href="/profile-details?user_id={{this._id}}"> {{this.username}}</a>
            </div>
            {{/each}}
        </div>
        {{else}}
        <h2>Post Something!</h2>
        {{/if }}
    </div>
</div>