<!DOCTYPE html>
<html port="{{port}}" userInSession={{user._id}}>

<head>
  <meta charset="utf-8">
  <title> {{title}} </title>
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/toggle.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav>
    {{#if user}}
    <div>
      <a href=" /">Main | </a>
      <a href="/profile/user-page">Profile </a>
      <a href="/posts/upload-photo">PostPhotos</a>
    </div>
    {{!-- it's also in profile.hbs, friends list menu sidebar --}}
    <form class="logoutBtn" action="/auth/logout" method="POST">
      <button class="" style="background-color: transparent;">Logout</button>
    </form>
    {{!-- {{> mobilMenu}} --}}
    {{else}}
    <div>
      <a href="/">Main | </a>
    </div>
    <div>
      <a class="btn btn-secondary mr-2" href="/auth/login">Login</a>
      <a class="btn btn-secondary mr-2" href="/auth/signup">Signup</a>
    </div>
    {{/if}}
  </nav>
  <div class="main-container">
    {{{body}}}
  </div>
  {{!-- scripts --}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> --}}
  <script src="/socket.io/socket.io.js"></script>

  {{!-- local scripts --}}

  <script src="/javascripts/socket.js"></script>
  <script src="/javascripts/toggle.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>