<div id="main-profile">
    <div class="left-div profile-boxes">
        <h5>Welcome, {{user.firstName}}! </h5>

        <img class="user-image" src="{{user.path}}" alt="{{user.imageName}}">
        <a class="btn btn-secondary mb-0 mt-2" href="/profile/user-photo-upload">Upload Photo</a>
        <a class="btn btn-secondary mb-0 mt-2" href="/profile/profile-update">Update Profile</a>

    </div>
    {{!-- --------------------------------------------------------------- --}}
    <div class="center-div profile-boxes">
        {{#if posts}}
        <h2>Great Posts!</h2>
        <div class="column-items">

            {{#each posts}}
            {{!-- this div column-reversed from style.css --}}
            <div class="card mb-2">
                <div class="author-info">
                    <a href="/profile/user-details?user_id={{this.userId}}">
                        <img class="users-small" src="{{this.path}}" alt="{{this.username}}">
                    </a>
                    <a href="/profile/user-details?user_id={{this.userId}}"> {{this.firstName}} {{this.lastName}}</a>
                </div>
                <div class="profile-user-box">
                    {{!-- <span>{{this.picName}}</span> --}}
                    <a href="/posts/post-details?post_id={{this._id}}">
                        <img class="profile-post-image" src="{{this.picPath}}" alt="{{this.picName}}">
                    </a>
                </div>
            </div>
            {{/each}}

        </div>
        {{else}}
        <h2>Post Something!</h2>
        {{/if }}
    </div>
    {{!-- ---------------------------------------------- --}}
    <div class="weather-div">
        {{> weather}}
        {{!-- {{> footer}} --}}
    </div>
    {{!-- ---------------------------------------------------------------------------- --}}
    <div class="right-div profile-boxes">
        <h5 class="text-center">Other Users</h5>
        <div class="column-items">
            {{#if users}}
            {{#each users}}
            <div class="users-info">
                <div>
                    <a href="/profile/user-details?user_id={{this._id}}">
                        <img class="users-small" src="{{this.path}}" alt="{{this.username}}">
                    </a>
                    <a class="username" href="/profile/user-details?user_id={{this._id}}"> {{this.username}}</a>
                </div>

                {{!-- dropdown add friends or remove buttons --}}
                <div class="btn-group1" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">
                            <form action="/profile/add-new-friend?friends_id={{this._id}}" method="post">
                                <button class="btn btn-outline-success">Add friend</button>
                            </form>
                        </a>

                        <a class="dropdown-item" href="#">
                            <form action="/profile/remove-friend?friends_id={{this._id}}" method="post">
                                <button class="btn btn-outline-primary">Remove</button>
                            </form>
                        </a>
                    </div>
                </div>
            </div>

            {{/each}}
            {{else}}
            <h2>You have no friends!(</h2>
            {{/if }}
        <input id="search-user1" class="form-control search-user" style="position: fixed; z-index:3;" type="text"
            placeholder="Search...">
        <div class="all-users">
            {{> usersList}}
        </div>
    </div><!-- end right div-->
    <div class="main-right-div">
        {{!-- socket message board --}}
        {{> messageBoard}}
        {{!--end socket message board --}}
        <div class="right-div profile-boxes">
            <input id="search-user1" class="form-control search-user" style="position: fixed; z-index:3;" type="text"
                placeholder="Search...">
            <div class="all-users">
                {{> usersList}}
            </div>
        </div><!-- end right div-->
    </div>
</div>

{{!-- ----------------- visible max-width: 899px--------------------------------------------- --}}

<!-- menu button, positioned absolute visible when max-width 899px-->
<a id="friend-list-btn" href="#" onclick="openSlideMenu()">
    <svg width="30" height="30">
        <path d="M0, 5 30, 5" stroke="#fff" stroke-width="5" />
        <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
        <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
    </svg>
</a>


{{!-- Start slide menu --}}
<div id="side-menu" class="side-nav">
    <a class="hidden-user" href="/profile/user-page">
        <img class="users-small" src="{{user.path}}" alt="{{user.imageName}}">
    </a>
    {{#if users}}
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <a href="/profile/user-page">Home</a>
    {{#each users}}
    <div class="users-info">
        <div>
            <a href="/profile/user-details?user_id={{this._id}}">
                <img class="users-small" src="{{this.path}}" alt="{{this.username}}">
            </a>
            <a class="username" href="/profile/user-details?user_id={{this._id}}"> {{this.username}}</a>
        </div>

        {{!-- dropdown add friends or remove buttons --}}
        <div class="btn-group2" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">
                    <form action="/profile/add-new-friend?friends_id={{this._id}}" method="post">
                        <button class="btn btn-outline-success">Add friend</button>
                    </form>
                </a>
                <a class="dropdown-item" href="#">
                    <form action="/profile/remove-friend?friends_id={{this._id}}" method="post">
                        <button class="btn btn-outline-primary">Remove</button>
                    </form>
                </a>
            </div>
        </div>
    </div>

    {{/each}}
    <form action="/auth/logout" method="POST">
        <button class="" style="background-color: transparent;">Logout</button>
    </form>
    {{else}}
    <h2>You have no friends!(</h2>
    {{/if }}
</div><!-- end slide menu-->
{{!-- -- ----------------- visible max-width: 899px--------------------------------------------- --}}
{{> mobilMenu}}


{{!-- ----------------------------------------------------------------------------------- --}}
<!-- friends chat list menu button, positioned absolute visible-->
<a id="chatList-btn" href="#" onclick="openChatList()">
    <svg width="30" height="30">
        <path d="M0, 5 30, 5" stroke="#fff" stroke-width="5" />
        <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
        <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
    </svg>
</a>

{{!-- Start Chat menu --}}
<div id="side-menu2" class="side-nav2">
    <div class="curr-user">
        <a href="/profile/user-page">
            <img class="users-small" src="{{user.path}}" alt="{{user.imageName}}">
        </a>
        <a href="#" class="btn-close" onclick="closeChatList()">&times;</a>
    </div>
    {{#if users}}


    <div class="all-users">
        {{#each users}}
        <div class="chat-user">
            <a href="/profile/user-details?user_id={{this._id}}">
                <img class="chat-users-small" src="{{this.path}}" alt="{{this.username}}">
            </a>
            <a class="username" href="/profile/user-details?user_id={{this._id}}"> {{this.firstName}}
                {{this.lastName}}</a>
        </div>

        {{/each}}
        {{else}}
        <h2>You have no friends!(</h2>
        {{!-- </div> --}}

        {{/if }}
    </div><!-- end slide menu-->

    {{!-- socket message board --}}

    {{!-- <div class="container messageBoard">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h1 class="text-center">
                    Chat
                    <button id="clear" class="btn btn-danger">Clear</button>
                </h1>
                <div id="status" class="text-center" style="color:red;"></div> <!-- Status -->
                <div id="chat">
                    <input type="text" id="username" class="form-control" placeholder="Enter name...">

                    <div class="card mt-1">
                        <div id="messages" class="card-block">
                            <!-- Chat messages -->
                        </div>
                    </div>
                    <input id="textarea" class="form-control mt-1" placeholder="Enter message...">

                </div>
            </div>
        </div>
    </div> --}}
    {{!--  --}}
    <div class="all-users chat-mt">
        {{> usersList2}}
    </div>
</div><!-- end slide menu-->
