<div id="main-profile">
    <div class="left-div profile-boxes">
        <h5>Welcome, {{user.firstName}}! </h5>

        <img class="user-image" src="{{user.path}}" alt="{{user.imageName}}">
        <a class="btn btn-secondary mb-0 mt-2" href="/profile/user-photo-upload">Upload Photo</a>
        <a class="btn btn-secondary mb-0 mt-2" href="/profile/profile-update">Update Profile</a>

    </div>
    {{!-- --------------------------------------------------------------- --}}
    <div class="center-div profile-boxes">
        {{#if posts}}
        <h2>Great Posts!</h2>
        <div class="column-items">

            {{#each posts}}
            {{!-- this div column-reversed from style.css --}}
            <div class="card mb-2">
                <div class="author-info">
                    <a href="/profile/user-details?user_id={{this.userId}}">
                        <img class="users-small" src="{{this.path}}" alt="{{this.username}}">
                    </a>
                    <a href="/profile/user-details?user_id={{this.userId}}"> {{this.firstName}} {{this.lastName}}</a>
                </div>
                <div class="profile-user-box">
                    {{!-- <span>{{this.picName}}</span> --}}
                    <a href="/posts/post-details?post_id={{this._id}}">
                        <img class="profile-post-image" src="{{this.picPath}}" alt="{{this.picName}}">
                    </a>
                </div>
            </div>
            {{/each}}

        </div>
        {{else}}
        <h2>Post Something!</h2>
        {{/if }}
    </div>

    {{!-- ---------------------------------------------- --}}
    <div class="weather-div">
        <h4 class="text-center">The weather app</h4>
        {{> footer}}
    </div>

    {{!-- ---------------------------------------------------------------------------- --}}
    <div class="right-div profile-boxes">
        <input id="search-user" class="form-control" style="position: fixed; z-index:3;" type="text"
            placeholder="Search...">
        <div class="all-users">
            {{> usersList}}
        </div>
    </div><!-- end right div-->
</div>

{{!-- ----------------- visible max-width: 899px--------------------------------------------- --}}

<!-- menu button, positioned absolute visible when max-width 899px-->
<a id="friend-list-btn" href="#" onclick="openSlideMenu()">
    <svg width="30" height="30">
        <path d="M0, 5 30, 5" stroke="#fff" stroke-width="5" />
        <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
        <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
    </svg>
</a>

{{!-- Start slide menu --}}
<div id="side-menu" class="side-nav">
    <a class="hidden-user" href="/profile/user-page">
        <img class="users-small" src="{{user.path}}" alt="{{user.imageName}}">
    </a>
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <hr class="socket">
</div><!-- end slide menu-->


{{!-- ----------------------------------------------------------------------------------- --}}

{{!-- socket message board --}}
<div id="messageBoard" class=" messageBoard">

    <form action="" id="messageForm">
        <div id="chat">
            <input type="text" id="sendTo" class="form-control" value="" disabled placeholder="Enter name...">
            <div class="card mt-1">
                <button id="clear" class="btn btn-danger">Clear</button>
                <div id="messages" class="card-block">
                    <!-- Chat messages -->
                    <div id="status" class="text-center" style="color:red;"></div> <!-- Status -->
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <!-- <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" > -->
            {{!-- <input type="text" class="form-control" autocomplete="off" placeholder="chat..." id="messageInput"> --}}
            <input id="textarea" class="form-control mt-1" placeholder="Send message...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Send</button>
            </div>
        </div>
    </form>
</div> {{!--end socket message board --}}

{{!-- Start Chat menu --}}
<div id="side-menu2" class="side-nav2">
    <div class="curr-user">
        <a>
            <img class="users-small" src="{{user.path}}" alt="{{user.imageName}}">
        </a>
    </div>

    {{!--  --}}
    <div class="all-users chat-mt">
        {{> usersList}}
    </div>
</div><!-- end slide menu-->