<div id="main-profile">
    <div class="left-div profile-boxes">
        <h5>Welcome, {{user.firstName}}! </h5>

        <img class="user-image" src="{{user.path}}" alt="{{user.imageName}}">
        <a class="btn btn-secondary mb-0 mt-2" href="/profile/user-photo-upload">Upload Photo</a>
        <a class="btn btn-secondary mb-0 mt-2" href="/profile/profile-update">Update Profile</a>

    </div>
    {{!-- --------------------------------------------------------------- --}}
    <div class="center-div profile-boxes">
        {{#if posts}}
        <h2>Great Posts!</h2>
        <div class="column-items">

            {{#each posts}}
            {{!-- this div column-reversed from style.css --}}
            <div class="card mb-2">
                <div class="author-info">
                    <a href="/profile/user-details?user_id={{this.userId}}">
                        <img class="users-small" src="{{this.path}}" alt="{{this.username}}">
                    </a>
                    <a href="/profile/user-details?user_id={{this.userId}}"> {{this.firstName}} {{this.lastName}}</a>
                </div>
                <div class="profile-user-box">
                    {{!-- <span>{{this.picName}}</span> --}}
                    <a href="/posts/post-details?post_id={{this._id}}">
                        <img class="profile-post-image" src="{{this.picPath}}" alt="{{this.picName}}">
                    </a>
                </div>
            </div>
            {{/each}}

        </div>
        {{else}}
        <h2>Post Something!</h2>
        {{/if }}
    </div>
    {{!-- ---------------------------------------------- --}}
    <div class="weather-div">
        <h4 class="text-center">The weather app</h4>
        {{> footer}}
    </div>
    {{!-- ---------------------------------------------------------------------------- --}}
    <div class="right-div profile-boxes">
        <h5 class="text-center">Other Users</h5>
        <div class="column-items">
            {{#if users}}
            {{#each users}}
            <div class="users-info">
                <div>
                    <a href="/profile/user-details?user_id={{this._id}}">
                        <img class="users-small" src="{{this.path}}" alt="{{this.username}}">
                    </a>
                    <a class="username" href="/profile/user-details?user_id={{this._id}}"> {{this.username}}</a>
                </div>

                {{!-- dropdown add friends or remove buttons --}}
                <div class="btn-group1" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">
                            <form action="/profile/add-new-friend?friends_id={{this._id}}" method="post">
                                <button class="btn btn-outline-success">Add friend</button>
                            </form>
                        </a>
                        <a class="dropdown-item" href="#">
                            <form action="/profile/remove-friend?friends_id={{this._id}}" method="post">
                                <button class="btn btn-outline-primary">Remove</button>
                            </form>
                        </a>
                    </div>
                </div>
            </div>

            {{/each}}
            {{else}}
            <h2>You have no friends!(</h2>
            {{/if }}
        </div>
    </div><!-- end right div-->


    {{!-- ----------------- visible max-width: 899px--------------------------------------------- --}}
    {{!-- Start slide menu --}}
    <div id="side-menu" class="side-nav">
        <a class="hidden-user" href="/profile/user-page">
            <img class="users-small" src="{{user.path}}" alt="{{user.imageName}}">
        </a>
        {{#if users}}
        <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
        <a href="/profile/user-page">Home</a>
        {{#each users}}
        <div class="users-info">
            <div>
                <a href="/profile/user-details?user_id={{this._id}}">
                    <img class="users-small" src="{{this.path}}" alt="{{this.username}}">
                </a>
                <a class="username" href="/profile/user-details?user_id={{this._id}}"> {{this.username}}</a>
            </div>

            {{!-- dropdown add friends or remove buttons --}}
            <div class="btn-group2" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">
                        <form action="/profile/add-new-friend?friends_id={{this._id}}" method="post">
                            <button class="btn btn-outline-success">Add friend</button>
                        </form>
                    </a>
                    <a class="dropdown-item" href="#">
                        <form action="/profile/remove-friend?friends_id={{this._id}}" method="post">
                            <button class="btn btn-outline-primary">Remove</button>
                        </form>
                    </a>
                </div>
            </div>
        </div>

        {{/each}}
        <form action="/auth/logout" method="POST">
            <button class="" style="background-color: transparent;">Logout</button>
        </form>
        {{else}}
        <h2>You have no friends!(</h2>
        {{/if }}
    </div><!-- end slide menu-->
</div>



<!-- friends list menu button, positioned absolute visible when max-width 899px-->
<a id="friend-list-btn" href="#" onclick="openSlideMenu()">
    <svg width="30" height="30">
        <path d="M0, 5 30, 5" stroke="#fff" stroke-width="5" />
        <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
        <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
    </svg>
</a>