<div id="main-profile">
    <div class="left-div profile-boxes">
        <div id="user-profile">
            <h5 class="text-center">Welcome, {{user.firstName}}! </h5>
            <img class="user-image profile-image" src="{{user.path}}" alt="{{user.username}}">
            <a class="btn btn-secondary mb-0 mt-2" href="/profile/user-photo-upload">Upload Photo</a>
            <a class="btn btn-secondary mb-0 mt-2" href="/profile/profile-update">Update Profile</a>
        </div>
        <div id="friends-list" class="friends-list">
            <div id="friends-header">
            </div>
            {{!-- current user --}}
            <div class="friends-header-title">
                <a class="username">
                    My Friends
                </a>
                <div class="dropdown">
                    <button class="dropbtn">...</button>
                </div>
            </div>

            {{!-- each friend --}}
            {{#each userFriends}}
            {{> friendsList friends='true'}}
            {{/each}}
            {{!-- end each friend --}}

        </div>
    </div>
    {{!-- --------------------------------------------------------------- --}}
    <div class="center-div profile-boxes">
        {{> newsFeed}}
    </div>
    {{!-- ---------------------------------------------- --}}
    <div id="weatherMain" class="weather-div">
        {{> weather}}
    </div>
    {{!-- ---------------------------------------------------------------------------- --}}
    <div class="right-div profile-boxes">
        <input id="search-user1" class="form-control search-user" style="position: fixed; z-index:3;" type="text"
            placeholder="Search...">
        <div class="all-users">
            {{> usersList}}
        </div>
    </div><!-- end right div-->

</div>

{{!-- -- ------------- Sidebar visible max-width: 899px--------------------------------------------- --}}
{{> mobilMenu}}
{{!-- ----------------------------------------------------------------------------------- --}}
{{!-- socket message board --}}
{{> messageBoard}}
{{!--end socket message board --}}


{{!-- Start Chat menu --}}
<div id="side-menu2" class="side-nav2">
    <div class="curr-user">
        <a>
            <img class="users-small" src="{{user.path}}" alt="{{user.imageName}}">
        </a>
    </div>

    {{!--  --}}
    <div class="all-users chat-mt">
        {{> usersList2}}
    </div>
</div><!-- end slide menu-->