<div class="main-post-details">
    <a class="goHome" href="/">Go back</a>
    <div class="col-md-6 m-auto">
        <div class="form">
            <img class="image-details" src="{{picPath}}" alt="{{picName}}">
            <p>{{content}}</p>
            <div> <span>Creator: <a href="/profile/user-details?user_id={{userId}}">{{username}}</a></span>
                <img class="users-small" src="{{userImg}}" alt="username"></div>
            <p><a href="/comments/post-details/comments?post_id={{postId}}">Comments</a> </p>

            {{#if message}}
            <div class="error-message">{{ message }}</div>
            {{/if}}

            {{#if user}}
            <form action="/comments/post-details?post_id={{postId}}" method="post">
                <input name="comment" id="" cols="30" rows="3"></input>
                <button>Comment</button>
            </form>
            {{/if}}

            {{!-- drop down button --}}
            {{#if isCreator}}
            <div class="btn-group1" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"></button>
                {{!-- <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> --}}
                {{!-- <a class="dropdown-item" href="#"> --}}
                <form class="dropdown-menu " action="/posts/delete-post?post_id={{postId}}" method="post">
                    <button class="dropdown-item btn btn-primary">Delete Post</button>
                </form>
                {{!-- </a> --}}
                {{!-- </div> --}}
            </div>
            {{!--  --}}
            {{!-- <div class="btn-group1" role="group">
                <button id="btnGroupDrop1" class="dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="text-center" href="/profile/user-details?user_id={{this._id}}">
                        {{this.firstName}}'s profile
                    </a>
                    <a href="" class="send-message text-center" user_id={{this._id}} _username={{this.username}}>Send
                        message</a>
                    <button class="dropdown-item add-friend text-center" href="#" user_id={{this._id}}
                        _username={{this.username}}>Add
                        to friends</button>
                </div>
            </div> --}}
            {{!--  --}}
            {{/if}}
            {{!-- end drop down button --}}
        </div>
    </div>
</div>