<div class="comments">
    <div class="main-comments">
        {{#if message}}
        <br>
        <h2 class="text-center">{{message}}</h2>
        {{else}}
        <br>
        {{#each allComments}}
        <div class="eachComment">

            <div>
                <a href="/profile/user-details?user_id={{this.author._id}}">
                    <img class="chat-users-small chat-users-small2" src="{{this.author.path}}"
                        alt="{{this.author.username}}">
                    {{this.author.username}}
                </a>
                <p>{{this.content}}</p>
            </div>

            {{!-- {{#if this.currentUserId}} --}}
            {{#if this.isAuthor}}
            <div class="deleteDropDown">
                <form action="/comments/delete-comment?comment_id={{this._id}}" method="post">
                    <button style="margin:0;padding:0;" class="btn btn-link">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </form>
            </div>
            {{/if}}
        </div>
        {{/each}}
        {{/if}}
    </div>



</div>